<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gerard.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Laboratorio Gerard</name>
    <description>
        Aplicación de Estequiometría y Soluciones.
    </description>
    <author email="gerard@example.com" href="http://gerard.com">
        Gerard Dev
    </author>

    <content src="index.html" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />

    <preference name="LogLevel" value="DEBUG" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="DisallowOverscroll" value="true" />

    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>

